@charset "utf-8";

@use "bulma/sass" with(
  $gap: 8px,
  $notification-padding: 0.75rem 0.75rem,
);

html {
  font-size: 13px;
}

textarea {
  font-family: monospace;
}

.base {
  width: 0.9rem;
  display: inline-block;
  text-align: center;
}

.base-a {
  background-color: #90ee90;
}

.base-c {
  background-color: #b0c4de;
}

.base-g {
  background-color: #ffec8b;
}

.base-t {
  background-color: #eea2ad;
}

.base-m,
.base-n {
  background-color: #e3e3e3;
}

.phase {
  width: 0.45rem;
  display: inline-block;
  text-align: center;
}

td {
  white-space: nowrap;
}

.pagination-ellipsis {
  min-width: 2.5em;
}

.container {
  margin-top: 8px;
}

.breadcrumb .icon:first-child {
  margin-right: 0;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0.6rem;
}

table.is-borderless td,
.table.is-borderless th {
  border: 0;
}

.igv-center-line {
  transform: translateX(-50%) translateX(-1px) !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
}

.inline-control-text {
  line-height: 32.5px
}

.scrolling-div {
  margin-top: 8px;
  overflow-y: auto;
  max-height: calc(100vh - 78px) !important;
}

.margin-top {
  margin-top: 20px;
}